[submodule "femocs"]
	path = femocs
	url = https://gitlab.com/veskem/femocs.git
[submodule "vtk"]
	path = vtk
	url = https://gitlab.kitware.com/vtk/vtk.git
[submodule "paraview"]
	path = paraview
	url = https://gitlab.kitware.com/paraview/paraview.git
